* {
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    margin-top: 2rem;
}
h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
p {
    text-align: center;
}
li {
    font-size: 1.2rem;
}

main {
    overflow: hidden;
    width: 60%;
    margin: auto;
}
section {
    display: flex;
    flex-wrap: nowrap;
    width: 200%;
}
section.translate {
    transform: translateX(-50%);
    transition: transform 1s ease-in-out;
}
.poke-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 8rem);
    gap: 1rem;
    width: 50%;
    margin: 2rem 0;
    justify-content: center;    
}
.poke-card {
    border: 1px solid #303030;
    border-radius: 7px;
    padding: 0.5rem;
    padding-top: 0;
    text-align: center;
    cursor: pointer;
}
.poke-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.poke-input {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    width: 18rem;
}
.error {
    grid-column: span 3;
}

input {
    height: 1.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

button {
    width: 5rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}
.poke-info {
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin: 2rem auto;
    margin-left: 1rem;
}
.poke-content {
    margin-left: 3rem;
}
.back {
    margin-right: 3rem;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 765px) {
    .poke-info {
        flex-direction: column;
        align-items: center;
    }
    .back {
        align-self: baseline;
    }
}